.dialog {
    padding: 10px;
    display: block;
}
.activeUser {
    color: gold;
    text-shadow: 0px 1px 5px #000;
    font-size: 20px;
}
.dialog a {
    color: #000;
}

.dialog img {
    width: 35px;
}
