.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: "header header" "sidebar content";
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: greenyellow;
  width: 100%;
}
